<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>
<h2 th:if="${genre != null}" th:text="|Lista produktów z kategorii ${genre}|"></h2>
<h2 th:unless="${genre != null}">Lista produktów z kategorii WSZYSTKIE</h2>
<ol>
    <li th:each="product:${products}"
        th:text="|Nazwa: ${product.name}, cena: ${product.price}zł, kategoria: ${product.genre}|"></li>
</ol>
<p th:text="|Suma wszystkich produktów wynosi: ${sum}zł|"></p>

<a href="/">Powrót do wyboru kategorii</a>
</body>
</html>